mixin page-header(data)
    -
        var data = data || {}
        var modeList = data.modeList || []
        var mode = ''
        modeList.map(n => mode += `_${n} `)
    +b.page-header(class=mode)
        .container
            +e.top
                +e.foto
                    img(src='__static__img/general/vinogradov.png')
                    +e.top-flex
                        +e.top-left
                            +e.left-top
                                +e.isp-flex
                                    +e.text И
                                    +e.text-top споведь
                                +e.text2 балетмейстера
                            +e.left-buttom
                                +e.text23 23 года во главе
                                +e.textmar Мариинки
                        +e.top-right
                            +e.right-top
                                +e.text-right На диске размещены документы, иллюстрирующие этапы творческого пути и личной биографии выдающегося хореографа, Народного артиста СССР, лауреата Государственной премии РФ О. М. Виноградова. Материалы, знакомые читателю по первому изданию книги «Исповедь балетмейстера» (2007), дополнены фотографиями <br/> и графическими работами, публикующимися впервые.
                                +e.text-right Альбом большей частью отражает содержание книги,<br/> но представляет более широкую панораму жизни <br/> и деятельности автора во всех областях хореографического искусства — как артиста балета и балетмейстера, художника <br/> и педагога, сценариста и сценографа.
                                +e.text-right Приятного просмотра!
                            +e.right-buttom Свои работы для фотоальбома предоставили мои коллеги и соратники Е. Белова, Н. Аловерт, В. Барановский, Ю. Ларионова, А. Макаров. Сердечная им благодарность!
                    +e.fio-flex
                        +e.name-flex
                            +e.o О
                            +e.leg ЛЕГ
                        +e.secondname ВИНОГРАДОВ
                    +e.ugol
                    +e.A.page-footer.link(href='/')
                        +e.albom Фотоальбом
                        +e.watch-flex
                            +e.arrow &#9658
                            +e.watch смотреть
